<<<<<<< HEAD
html {
    /*font-size: 20px;*/
    /*/!*font:normal normal normal 16px/1 octicons;*!/*/
    /*font:13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";*/
    /*font-family: "Whitney SSm A", "Whitney SSm B", "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;!important;*/
}
li{
    padding: 0;!important;
}

#task {
    overflow: auto;
    word-wrap: break-word;
}

=======
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
>>>>>>> master

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 0 24px;
    max-width: 960px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

/* content */

.content {
    padding: 48px 0;
    border-bottom: solid 2px #cfcfcf;
}

.content__footer {
    margin-top: 12px;
    text-align: center;
}

/*headre*/
.primary-header {
    padding: 24px 0;
    text-align: center;
    border-bottom: solid 2px #cfcfcf;
}

.primary-header__title {
    color: #393939;
    font-size: 36px;
    }
.primary-header__title small {
    font-size: 18px;
    color: #898989;
}

/* footer */

.primary-footer {
    padding: 24px 0;
    color: #898989;
    font-size: 14px;
    text-align: center;
}

<<<<<<< HEAD
#btn-done {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
}

#edit-task {
    display: block;
    border-radius: 5px;
    border: none;

    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;

    resize: none;
}
#message-user{
    color:#42444e;
}
=======
>>>>>>> master
